@*@model MK_MVC.ViewModels.PeopleViewModel*@
@*@using MK_MVC.Models*@

   
<table>
  <div class="row">
      <div class="col">
   <a asp-action="Remove" asp-route-id="@Model.PersonId">Remove</a>
  </div>
    <div class="col">
      @Model.PersonId
    </div>
    <div class="col">
      @Model.Name
    </div>
    <div class="col">
      @Model.Phone
    </div>
    <div class="col">
      @Model.City
    </div>
  </div>
</table>  